.linkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  opacity: 0.9;
  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}

.primary {
  color: #ffffff;
  svg {
    path {
      fill: #ffffff;
    }
  }
}

.secondary {
  color: #032849;
  svg {
    path {
      fill: #032849;
    }
  }
}
